---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---

<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo">{{ metadata.title }}</h1>
  <h2>{{ metadata.description }}</h2>
  <img src="{{ 'img/w3images/avatar.png' | url }}" alt="boy" class="w3-image" width="300" height="1108">

  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js">
// init Masonry
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
});

// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry();
});

</script>

</header>


<!-- About Section -->
  <div class="w3-content w3-justify w3-text-white w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">About Me</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>
    I am a Principal Data Scientist at Asurion, leading enterprise-scale agentic AI systems for customer service and internal analytics.
    <br><br>
    I build end-to-end ML systems from research to production deployment, specializing in LLM evaluation, adversarial AI red-teaming, and distributed ML infrastructure on Kubernetes.
    <br><br>
    My recent work includes deploying production voice AI systems with real-time inference optimization, building synthetic conversation engines for red-teaming agentic AI, and architecting RAG systems processing millions of daily transactions.
    <br><br>
    Previously, I was Director of Data Science & AI at Canvs AI and Staff Data Scientist at Premise Data, where I led teams building production ML systems for video analysis, fraud detection, and event detection across 200+ countries.
    <br><br>
    I have a PhD in Resource Management & Environmental Studies from the University of British Columbia. I'm an applied scientist who bridges research and production engineering, with expertise in Python, PyTorch, Kubernetes, Argo, and distributed ML systems.
    <br><br>
    </p>
    
    <h2 class="w3-text-light-grey">My Skills</h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-row w3-center w3-padding-16 w3-section">
      <div class="w3-third w3-section">
        <i class="fa fa-cogs fa-3x" aria-hidden="true"></i><br><br>
        Production ML Systems
      </div>
      <div class="w3-third w3-section">
        <i class="fa fa-shield fa-3x" aria-hidden="true"></i><br><br>
        LLM Evaluation & Red-Teaming
      </div>
      <div class="w3-third w3-section">
        <i class="fa fa-robot fa-3x" aria-hidden="true"></i><br><br>
        Agentic AI Systems
      </div>
      <div class="w3-third w3-section">
        <i class="fa fa-server fa-3x" aria-hidden="true"></i><br><br>
        Distributed ML Infrastructure
      </div>
        <div class="w3-third w3-section">
        <i class="fa fa-dashboard fa-3x" aria-hidden="true"></i><br><br>
        Real-Time Inference
      </div>
      <div class="w3-third w3-section">
        <i class="fa fa-code fa-3x" aria-hidden="true"></i><br><br>
        Python / PyTorch / Kubernetes
      </div>
    </div>
    <br>
    

<!-- Portfolio Section -->


<style type="text/css">

* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
  border: 5px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.grid-item--width2 {
  width: 66.67%
}
.grid-item--height2 {
  height: 66.67%
}

@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
    margin-right: 50px; 
  }
  .grid-item--width2 {
    width: 50%
  }
  .grid-item--height2 {
    height: 50%
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .grid-item--width2 {
    width: 50%
  }
  .grid-item--height2 {
    height: 50%
  }
}

/* To change the amount of columns on larger devices, uncomment the code below */

/* @media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
} */

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

</style>

<div class="w3-padding-64 w3-content" id="photos">
  <h2 class="w3-text-light-grey">Recent Projects</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="container-fluid">
    
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="grid-item">
        <a target="_blank" href="https://premise.com/products/ai-qualitative-insights-platform/"><img src="/img/w3images/videoai.png"/></a>
      </div>
      <div class="grid-item">
        <a target="_blank" href="https://datastudio.google.com/reporting/1WoKK18Ucer4CuRjw3t06eTB0Ycd76h2S/page/cuYmB"><img src="/img/w3images/premise_covid_survey.png"/></a>
      </div>
      <div class="grid-item">
        <a target="_blank" href="https://wdr2021.worldbank.org"><img src="/img/w3images/wdr.png"/></a>
      </div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item">
        <a target="_blank" href="https://ceres2030.org/water-scarce-solutions/"><img src="/img/w3images/ceres.png"/></a>
      </div>
      <div class="grid-item">
        <a target="_blank" href="https://datatopics.worldbank.org/sdgatlas/"><img src="/img/w3images/sdg_atlas.png"/></a>
      </div>
      <div class="grid-item">
        <a target="_blank" href="https://vinnyricciardi.github.io/global-farmsize-app/"><img src="/img/w3images/smallfarm-infographic.png"/></a>
      </div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item">
        <a target="_blank" href="https://www.pnas.org/content/118/4/e2020535118"><img src="/img/w3images/lsla.png"></a>
      </div>
    </div>
    
  </div> 
</div>
  <!-- End photo grid -->
  <!-- End Portfolio Section -->

<!-- Latest Posts Section -->
<div class="w3-content w3-justify w3-text-white w3-padding-64" id="about">
  <h2 class="w3-text-light-grey">Latest Posts</h2>
  <hr style="width:200px" class="w3-opacity">

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}" class="w3-hover-text-green">the archive</a>.</p>
</div>
<!-- Contact Section -->
<div class="w3-padding-64 w3-content" id="contact">
  <h2 class="w3-text-light-grey">Contact Me</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="w3-section">
    <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> VinnyRicciardi@gmail.com</p>
    <p><i class="fa fa-linkedin fa-fw w3-text-white w3-xxlarge w3-margin-right"></i><a target="_blanks" href="https://www.linkedin.com/in/vinnyr" class="w3-hover-text-green">LinkedIn</a> </p>
    <p><i class="fa fa-twitter fa-fw w3-text-white w3-xxlarge w3-margin-right"></i><a target="_blanks" href="https://twitter.com/vinnyricciardi" class="w3-hover-text-green">Twitter</a> </p>
  </div><br>
  <p>Lets get in touch. Send me a message:</p>

  <form action="/action_page.php" target="_blank">
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
    <p>
      <button class="w3-button w3-light-grey w3-padding-large" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </p>
  </form>
<!-- End Contact Section -->
</div>


